.piece-card-shortcut {
    width: 5rem;
    height: 8.75rem;
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    display: grid;
    grid-template-rows: auto 1fr;
    text-decoration: none;
    user-select: none;
    box-sizing: border-box;
    cursor: var(--cursor-pointer);

    .content-image {
        display: grid;
        border-radius: 8px;
        margin: 0.25rem;
        padding: 8px;

        .img {
            aspect-ratio: 1/1;

            &.themed {
                mask-image: var(--url);
                mask-size: calc(60px - (12px));
                mask-repeat: no-repeat;
                mask-position: center;
                overflow: hidden;

                .icon-color {
                    background: hsl(var(--piece-h), var(--piece-s), 48%);
                    width: 100px;
                    height: 100px;
                    display: block;
                }
            }

            &.default {
                background: var(--url);
                background-size: cover;
            }

            img {width: calc(100% - 8px);}
        }
    }

    .label {
        font-size: 12px;
        font-weight: 500;
        display: grid;
        place-items: center;
        overflow: hidden;
        text-align: center;
        pointer-events: none;
    }
}