.piece-bar-rail {
	/* ======= VARIÃVEIS BASE ======= */
	--m-aside-width: 96px;
	--m-aside-height: 100%;
	--m-aside-padding: 16px;

	/* width: var(--m-aside-width); */
	height: var(--m-aside-height);
	display: flex;
	flex-direction: column;
	padding-inline: var(--m-aside-padding);

	/* ======= HEADER ======= */
	> header {
		display: grid;
		padding-block: 16px;
		gap: 16px;

		.m-titulo {
			display: grid;
			grid-template-columns: auto auto;
			grid-template-rows: auto auto;
			grid-template-areas:
				"icon h1"
				"icon h2";
			place-content: center start;
			gap: 0 16px;

			.icon {
				grid-area: icon;
				max-height: 64px;
				max-width: 64px;
				display: block;
			}
			h1, h2 {
				display: none;
				position: relative;
				width: min-content;
				text-wrap: nowrap;
			}
			h1 { grid-area: h1; font-size: 20px; font-weight: 900; align-self: end; }
			h2 { grid-area: h2; font-size: 12px; font-weight: 500; align-self: start; }
		}
	}

	/* ======= ITENS ======= */
	.piece-items {
		flex: auto;
		display: grid;
		align-content: start;
		gap: 4px;

		.piece-item {
			display: grid;
			place-content: center;
			place-items: center;
			gap: 4px;
			position: relative;
			cursor: var(--cursor-pointer);
			user-select: none;

			width: var(--item-width, 96px);
			height: var(--item-height, 56px);
			padding-block: var(--item-padding, 2px);
			margin-left: var(--item-margin-left, -16px);

			input { display: none; }

			.piece-indicator {
				width: 56px;
				height: 32px;
				border-radius: 16px;
				position: absolute;
				top: 2px;
				display: grid;
			}

			.piece-icon {
				border-radius: 32px;
				width: 56px;
				height: 32px;
				display: grid;
				place-content: center;
				z-index: 1;
			}

			.piece-label {
				height: 16px;
				font-size: 12px;
				z-index: 1;
				width: max-content;
			}
		}
	}

	/* ======= CONTAINER QUERIES ======= */

	/* MOBILE */
	@container (max-width: 799px) {
		& {
			--m-aside-width: 100%;
			--m-aside-height: 64px;
			--m-aside-padding: 0;
		}

		> :not(.piece-items) { display: none; }

		.piece-items {
			grid-auto-flow: column;
			grid-auto-columns: minmax(0, 1fr);
			height: 64px;

			.piece-item {
				width: auto;
				height: auto;
				padding-block: 6px;
				.piece-indicator {top: 6px;}
			}
		}
	}

	/* SVGA */
	@container (min-width: 800px) and (max-width: 1279px) {
		& {
			--m-aside-width: 96px;
			--m-aside-height: 100%;
		}

		> header > .piece-menu { display: none; }
	}

	/* HD */
	@container (min-width: 1280px) and (max-width: 1919px) {
		& {
			--m-aside-width: 96px;
			--m-aside-height: 100%;
		}

		&:has(.piece-menu > input:checked) {
			--m-aside-width: 300px;

			> header h1,
			> header h2 { display: block; }

			.piece-item {
				grid-auto-flow: column;
				justify-self: start;
				border-radius: 56px;
				padding: 16px;
				gap: 16px;
				margin: 0;
				width: auto;

				.piece-indicator {
					inset: 0;
					width: 100%;
					height: 100%;
					border-radius: 56px;
				}

				.piece-icon {
					width: 24px;
					position: relative;
				}

				.piece-label {
					font-weight: 500;
					font-size: 16px;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
				}
			}
		}
	}

	/* FULL HD */
	@container (min-width: 1920px) {
		& {
			--m-aside-width: 96px;
			--m-aside-height: 100%;
		}

		&:has(.piece-menu > input:checked) {
			--m-aside-width: 300px;

			> header h1,
			> header h2 { display: block; }

			.piece-item {
				grid-auto-flow: column;
				justify-self: start;
				border-radius: 56px;
				padding: 16px;
				gap: 16px;
				margin: 0;
				width: auto;

				.piece-indicator {
					inset: 0;
					width: 100%;
					height: 100%;
					border-radius: 56px;
				}

				.piece-icon {
					width: 24px;
					position: relative;
				}

				.piece-label {
					font-weight: 500;
					font-size: 16px;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
				}
			}
		}
	}
}
	
	
	.m-titulo .icon {
		width: 64px;
		height: 64px;
		display: block;
	}
