.piece-table {
	width:100%;
	border-spacing:1px;
	display:table;
	border-collapse:separate;
	border-spacing: 1px;
	& .piece-center { text-align:center; }
	& .piece-justify { text-align-last:justify; }
	& caption, & .piece-caption { padding:16px 8px; font-weight:900; margin-inline:1px; display:block; }
	& th, & .piece-head { padding:16px 8px; font-weight:900; display:table-cell; }
	& td, & .piece-col { padding:4px 8px; font-weight:400; display:table-cell; }
	& tfoot td, & .piece-foot { padding:16px 8px; font-weight:bold; display:table-cell; }
	& tr, & .piece-row { display:table-row; }
	& tbody, & .piece-body { display:table-row-group; }
	& thead, & .piece-head-group { display:table-header-group; }
	& tfoot, & .piece-foot-group { display:table-footer-group; }

	/* linhas (40–52px) */
	&.extra-small { tbody tr, .piece-row { height:40px; } }
	&.small { tbody tr, .piece-row { height:43px; } }
	&.medium { tbody tr, .piece-row { height:46px; } }
	&.large { tbody tr, .piece-row { height:49px; } }
	&.extra-large { tbody tr, .piece-row { height:52px; } }

	/* cabeçalhos/rodapés (52–64px) */
	&.extra-small { thead, tfoot { height:52px; } }
	&.small { thead, tfoot { height:55px; } }
	&.medium { thead, tfoot { height:58px; } }
	&.large { thead, tfoot { height:61px; } }
	&.extra-large { thead, tfoot { height:64px; } }
}
